body {
    font-family: cursive;
    background-image: url("background");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:rgb(233, 139, 154) ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color:rgb(194, 231, 139);
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(18, 156, 18);
}

